doctype html
html(lang='en')
  head
    title Chat over here!

  body(style='background-color:pink;color:white')
    div(style='width:50%;height:300px;position:relative;margin:auto;top:100px')

      p(style='text-align:center;font-size:2em;font-family:arial,sans-serif;') Fill in your username and post your message over here.

      form(action='#', method='post', style='background-color:white;height:400px;width:80%;margin:auto;')
        label(for='username', style='font-weight:bold;font-size:1.5em;text-align:center;display:block;width:50%;margin:auto;padding-top:20px;color:lightblue;') Your Name
        input(name='username', placeholder='in here', type='text', style='background-color:transparent;border:0px;padding:5%;margin-top:20px;border:2px solid lightblue;display:block;width:50%;margin-left:18%;margin-bottom:20px;')
        label(for='message', style='font-weight:bold;font-size:1.5em;text-align:center;display:block;width:50%;margin:auto;padding-top:20px;color:lightblue;') Your Message
        input(name='message', placeholder='in here', type='text', style='background-color:transparent;border:0px;padding:5%;margin-top:20px;border:2px solid lightblue;display:block;width:50%;margin-left:18%;margin-bottom:20px;')
        button(type='submit', style='height:40px;border-radius:10px;display:block;margin:auto;width:20%;background-color:pink;color:white;') Send It

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src='/javascript/script.js')




